# Finance UFRN
On this NoteBook we will present our discoveries over constructions and investments all over UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE([UFRN](www.ufrn.br)).
All this made as a project for a subject on UFRN called `PROBABILIDADE`, where we choose some of several available open data about our university.

## Choosen Data
We decided to work on the financial values over UFRN, like how much money cost a specific work, how long it generally takes to finish a construction, the most expensive work, and so on. For that, we used the following 'csv' files:
- [obras.csv](http://dados.ufrn.br/dataset/a8b897f9-4659-44d4-842e-ac70ae21eb83/resource/067e7cad-934c-4134-a5d5-807915c074b4/download/obras.csv)
- [requisicaoobras.csv](http://dados.ufrn.br/dataset/15f55d0c-7ac8-4c1e-a73c-b0e37b9ef873/resource/0d923d18-1ffa-41d7-972f-33a12e9daf62/download/requisicaoobras.csv)

In [17]:
import pandas as pd
import numpy as np

In [18]:
works = pd.read_csv("res/obras.csv", sep=';')
works_request = pd.read_csv("res/requisicaoobras.csv", sep=';')

In [19]:
# We start by just printing our choosen dataset.
pd.DataFrame(works).head()

,id_obra,descricao,periodo,qtd_dias,status_obra,licitacao,empresa,modalidade,valor,fonte_recurso,vigencia_projeto,projeto,id_unidade_responsavel,unidade_responsavel,Unnamed: 14
0,493,CONSTRUÇÃO DO BLOCO H DO SETOR DE AULAS TEÓRIC...,23/03/2005 - 19/11/2005,240,FINALIZADA,6/2004,03.166.687/0001-28 - CRS-CONSTRUÇÕES E EMPREE...,CONCORRÊNCIA,"R$ 829.454,21",NaN,NaN,NaN,NaN,NaN,NaN
1,521,CONSTRUÇÃO DO BLOCO A1 DO SETOR DE AULAS TEÓRI...,04/05/2005 - 30/12/2005,240,FINALIZADA,7/2004,03.166.687/0001-28 - CRS-CONSTRUÇÕES E EMPREE...,CONCORRÊNCIA,"R$ 833.702,12",NaN,20/04/2005 - 20/11/2005,19O ENECIC/2005 (852005),NaN,NaN,NaN
2,848,CONSTRUÇÃO DO SETOR DE ANTIBIÓTICOS PRODUÇÃO D...,02/06/2005 - 29/01/2006,240,FINALIZADA,4/2004,03.722.669/0001-85 - CONSTRUTORA CAGEO LTDA,CONCORRÊNCIA,"R$ 1.561.230,93",TESOURO - EDUCAÇÃO (112000000),NaN,NaN,252.0,NUCLEO DE PESQUISA EM ALIMENTOS E MEDICAMENTOS,NaN
3,925,Complementação da 2ª Etapa e Realização da 3ª ...,28/01/2005 - 22/01/2006,360,FINALIZADA,2/2004,40.761.454/0001-08 - AR PROJETOS & CONSTRUÇÕE...,CONCORRÊNCIA,"R$ 814.550,74",NaN,20/12/2002 - 31/07/2007,UFRN/CONV.133/02 - HUOL (862003),446.0,HOSPITAL UNIVERSITÁRIO ONOFRE LOPES,NaN
4,182,CONSTRUÇÃO DO DEPARTAMENTO DE FISIOTERAPIA - CCS,08/02/2006 - 02/02/2007,360,FINALIZADA,1/2005,01.694.415/0001-75 - HASTE-HABITAÇÃO E SERVIÇ...,CONCORRÊNCIA,"R$ 1.455.865,61",NaN,20/12/2004 - 30/03/2010,CONVENIO 121/2004 UFRN (732005),446.0,HOSPITAL UNIVERSITÁRIO ONOFRE LOPES,NaN

### Analyzing Works Times
On the next 3 cells, we will check, respectively, a construction's minimun time, max time and the mean of all these times.

In [25]:
# This cell creates 2 variables, one containing the minimun value and the other it's index.
works_min_time = works['qtd_dias'].min()
works_min_index_time = works['qtd_dias'].idxmin()

# Then, we print to observe it's values and costs.
print("The fastest work took",works_min_time,"days")
print("It also cost", works.iloc[works_min_index_time]['valor'])
pd.DataFrame(works.iloc[works_min_index_time])

The fastest work took 5 days
It also cost R$         8.320,70

                                                                      277
id_obra                                                              2849
descricao               RECUPERAÇÃO DE ENLACE ÓPTICO NA AV. RODRIGUES ...
periodo                                           15/01/2007 - 19/01/2007
qtd_dias                                                                5
status_obra                                                    FINALIZADA
licitacao                                                        585/2006
empresa                      01.009.821/0001-51 - PROTELE ENGENHARIA LTDA
modalidade                                          DISPENSA DE LICITAÇÃO
valor                                                 R$         8.320,70
fonte_recurso             UNIV.FEDERAL DO RIO GRANDE DO NORTE (250154214)
vigencia_projeto                                                      NaN
projeto                                                               NaN
id_unidade_responsavel                                                605
unidade_responsavel           UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE
Unnamed: 14                                                           NaN

In [27]:
# This cell creates 2 variables, one containing the maximun value and the other it's index.
works_max_time = works['qtd_dias'].max()
works_max_index_time = works['qtd_dias'].idxmax()

# Then, we print to observe it's values and costs.
print("The slowest work took",works_max_time,"days")
print("It also cost", works.iloc[works_max_index_time]['valor'])
pd.DataFrame(works.iloc[works_max_index_time])

The slowest work took 1306 days
It also cost R$       272.555,36

                                                                      548
id_obra                                                              5931
descricao               O PRESENTE CONTRATO TEM COMO OBJETO A EXECUÇÃO...
periodo                                           15/07/2007 - 09/08/2011
qtd_dias                                                             1306
status_obra                                                    FINALIZADA
licitacao                                                          4/2010
empresa                  05.937.949/0001-36 - ATUAL ENGENHARIA E SERVI...
modalidade                                                TOMADA DE PREÇO
valor                                                 R$       272.555,36
fonte_recurso                              TESOURO - EDUCAÇÃO (112000000)
vigencia_projeto                                                      NaN
projeto                                                               NaN
id_unidade_responsavel                                                447
unidade_responsavel                     MATERNIDADE ESCOLA JANUÁRIO CICCO
Unnamed: 14                                                           NaN

In [22]:
works_mean_time = works['qtd_dias'].mean()
print( int(works_mean_time),"is the mean amount of days taken to finish a construction on UFRN")

184 is the mean amount of days taken to finish a construction on UFRN

### Considerations
After our analysis over times, we concluded that UFRN actually takes approximately 6 months for a construction to be finished.

In [15]:
greater_than_mean = 0
for i in works.qtd_dias:
    if i > works_mean_time:
        greater_than_mean = greater_than_mean + 1
amount_works = len(works.id_obra)

print(greater_than_mean)
print(int (greater_than_mean*100/amount_works),"%")

323
38 %